# --- PayOS Configuration ---
PAYOS_CLIENT_ID=your_client_id_here
PAYOS_API_KEY=your_api_key_here
PAYOS_CHECKSUM_KEY=your_checksum_key_here

# URL trả về sau khi khách thanh toán xong hoặc hủy (Dùng domain ezliving.id.vn)
PAYOS_RETURN_URL=http://ezliving.id.vn/payment-success
PAYOS_CANCEL_URL=http://ezliving.id.vn/payment-cancel

# Database
DATABASE_URL=postgresql://admin:adminpassword@postgres:5432/clm_system_db
